<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spring.mapper.SysAttachMapper" >
  <resultMap id="BaseResultMap" type="spring.entity.SysAttach" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="attach_name" property="attachName" jdbcType="VARCHAR" />
    <result column="attach_file" property="attachFile" jdbcType="VARCHAR" />
    <result column="attach_filepath" property="attachFilepath" jdbcType="VARCHAR" />
    <result column="attach_type" property="attachType" jdbcType="VARCHAR" />
    <result column="attach_suffix" property="attach_suffix" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
    <result column="file_size" property="fileSize" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ATTACH_NAME, ATTACH_FILE, ATTACH_FILEPATH, ATTACH_TYPE, UPDATE_BY, UPDATE_DATE,
    FILE_SIZE
  </sql>

</mapper>