<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spring.mapper.SysDepartmentMapper">
    <resultMap id="BaseResultMap" type="spring.entity.SysDepartment">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>

        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, create_date, update_date, update_by, create_by, parent_id,STATUS,ORDER_ID
  </sql>

    <select id="selectListByPage" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from sys_department
        order BY ORDER_ID
    </select>


    <select id="selectListByPageForm" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        a1.id
        ,a1.name
        ,a1.create_date
        ,a1.update_date
        ,a1.parent_id
        ,a2.accountname create_by
        ,a3.accountname update_by
        ,a1.status
        ,a1.ORDER_ID
        FROM
        sys_department  a1
        LEFT JOIN  sys_user a2 ON a1.create_by=a2.id
        LEFT JOIN sys_user a3 ON a1.update_by = a3.id
        order BY a1.ORDER_ID
    </select>
</mapper>