<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spring.mapper.SysSerialNumberMapper" >
  <resultMap id="BaseResultMap" type="spring.entity.SysSerialNumber" >
    <constructor >
      <idArg column="ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_BY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATE_BY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NUM" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SERIAL_NUMBER" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, TYPE, NUM, SERIAL_NUMBER
  </sql>
  <select id="selectListByPage" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    FROM SYS_SERIAL_NUMBER a
    <where>
      <!--<if test="startDate!=null">
        a.START_DATE &lt;  to_date( #{startDate}, 'yyyy-mm-dd hh24:mi:ss' )
      </if>
      <if test="endDate!=null">
        and a.END_DATE &gt;=  to_date( #{endDate}, 'yyyy-mm-dd hh24:mi:ss' )
      </if>
      <if test="accreditUserId!=null and accreditUserId!=''">
        and a.ACCREDIT_USER_ID = #{accreditUserId}
      </if>
      <if test="userId!=null and userId!=''">
        and a.USER_ID =  #{userId}
      </if>
      <if test="accreditLabel!=null and accreditLabel!=''">
        and a.ACCREDIT_LABEL=  #{accreditLabel}
      </if>-->
    </where>
  </select>


  <select id="getMaxNumByDayAndType" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from  sys_serial_number where id=(select max(id) id from sys_serial_number WHERE type=#{type} AND TO_CHAR(create_date,'YYYY-MM-dd')= TO_CHAR(SYSDATE,'YYYY-MM-dd'))
  </select>


</mapper>