<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spring.mapper.WsExchangeDateSubMapper">
    <resultMap id="BaseResultMap" type="spring.entity.WsExchangeDateSub">
        <constructor>
            <idArg column="ID" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="CREATE_BY" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="CREATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="UPDATE_BY" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="UPDATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="START_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="END_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="CREATE_USER_ID" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="TITLE" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="SUB_USER_ID" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="CONTENT" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="ATTACH_ID" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="CONTENT_SUM" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    ID, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, START_DATE, END_DATE, CREATE_USER_ID, 
    TITLE, SUB_USER_ID, CONTENT, ATTACH_ID,CONTENT_SUM
  </sql>
    <select id="selectListByPage" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        FROM WS_EXCHANGE_DATE_SUB
        <where>
            <if test="title!=null and title!=''">
                TITLE LIKE concat( concat( '%',#{title} ),'%' )
            </if>
            <if test="createUserId!=null and createUserId!=''">
                AND CREATE_USER_ID LIKE concat( concat( '%',#{createUserId} ),'%' )
            </if>
            <if test="startDate!=null">
                AND START_DATE &gt;= to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
            </if>
            <if test="endDate!=null">
                AND END_DATE &lt;= to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')
            </if>
        </where>
        ORDER by ID
    </select>
</mapper>