<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spring.mapper.WsPresentMapper" >
  <resultMap id="BaseResultMap" type="spring.entity.WsPresent" >
    <constructor >
      <idArg column="ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_BY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATE_BY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="PRESENT_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PRESENT_TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ISSUE_USER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ISSUE_DEPT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ISSUE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="NUM" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="CONTENT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ISSUE_STATUS" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, PRESENT_NAME, PRESENT_TYPE, ISSUE_USER,
    ISSUE_DEPT, ISSUE_DATE, NUM, CONTENT,ISSUE_STATUS
  </sql>
  <select id="selectListByPage" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    FROM WS_PRESENT
    <where>
      <if test="issueStatus!=null and issueStatus!=''">
        a.ISSUE_STATUS LIKE concat( concat( '%',#{issueStatus} ),'%' )
      </if>
      <if test="presentType!=null and presentType!=''">
        and PRESENT_TYPE LIKE concat( concat( '%',#{presentType} ),'%' )
      </if>
      <if test="presentName!=null and presentName!=''">
        AND PRESENT_NAME LIKE concat( concat( '%',#{presentName} ),'%' )
      </if>
      <if test="searchDateStart!=null and searchDateStart!=''">
        AND UPDATE_DATE &gt;= to_date(#{searchDateStart},'yyyy-mm-dd hh24:mi:ss')
      </if>
      <if test="searchDateEnd!=null and searchDateEnd!=''">
        AND UPDATE_DATE &lt;= to_date(#{searchDateEnd},'yyyy-mm-dd hh24:mi:ss')
      </if>
    </where>
    ORDER by ID
  </select>

  <select id="selectListByPageForm" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    a.ID,
    a2.accountname CREATE_BY,
    a.CREATE_DATE,
    a3.accountname UPDATE_BY,
    a.UPDATE_DATE,
    a.PRESENT_NAME,
    a4.dic_name PRESENT_TYPE,
    a5.accountname ISSUE_USER,
    a6.name ISSUE_DEPT,
    a.ISSUE_DATE,
    a.ISSUE_STATUS,
    a.NUM,
    a.CONTENT
    FROM
    WS_PRESENT a
    LEFT JOIN sys_user a2 ON a2.id = a.create_by
    LEFT JOIN sys_user a3 ON a3.id = a.update_by
    left join sys_dic a4 on a4.dic_type ='涉外礼品的类型' and a4.dic_value =a.PRESENT_TYPE
    LEFT JOIN sys_user a5 ON a5.id = a.ISSUE_USER
    left join SYS_DEPARTMENT a6 on a6.id =a.ISSUE_DEPT
    <where>
      <if test="issueStatus!=null and issueStatus!=''">
        a.ISSUE_STATUS LIKE concat( concat( '%',#{issueStatus} ),'%' )
      </if>
      <if test="presentType!=null and presentType!=''">
         and a.PRESENT_TYPE LIKE concat( concat( '%',#{presentType} ),'%' )
      </if>
      <if test="presentName!=null and presentName!=''">
        AND a.PRESENT_NAME LIKE concat( concat( '%',#{presentName} ),'%' )
      </if>
      <if test="searchDateStart!=null and searchDateStart!=''">
        AND a.ISSUE_DATE &gt;= to_date(#{searchDateStart},'yyyy-mm-dd hh24:mi:ss')
      </if>
      <if test="searchDateEnd!=null and searchDateEnd!=''">
        AND a.ISSUE_DATE &lt;= to_date(#{searchDateEnd},'yyyy-mm-dd hh24:mi:ss')
      </if>
    </where>
    ORDER by ID
  </select>

</mapper>