<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spring.mapper.WsVisitCountryUserHomeMapper" >
  <resultMap id="BaseResultMap" type="spring.entity.WsVisitCountryUserHome" >
    <constructor >
      <idArg column="ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_BY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATE_BY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="STATUS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MAINFORMID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TITLE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="AGE" jdbcType="DECIMAL" javaType="java.lang.Integer" />
      <arg column="POLITICS_STATUS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="JOB_UNIT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DEPT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ADDRESS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="IS_FOREIGN_NATIONALITY" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, STATUS, MAINFORMID, TITLE, NAME, 
    AGE, POLITICS_STATUS, JOB_UNIT, DEPT, ADDRESS, IS_FOREIGN_NATIONALITY
  </sql>
  <select id="selectListByPage" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    FROM WS_VISIT_COUNTRY_USER_HOME
    <where>
      <if test="mainformid!=null and mainformid!=''">
        MAINFORMID =#{mainformid}
      </if>
    </where>
    order by ID
  </select>
</mapper>