<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spring.mapper.WsVisitFundInfoMapper" >
  <resultMap id="BaseResultMap" type="spring.entity.WsVisitFundInfo" >
    <constructor >
      <idArg column="ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_BY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATE_BY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="CONTINENT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COUNTRY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CITY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CURRENCY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ACCOMMODATION" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MEALS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="VARIED" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CONTINENT_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COUNTRY_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CITY_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, CONTINENT, COUNTRY, CITY, CURRENCY,
    ACCOMMODATION, MEALS, VARIED,CONTINENT_ID,COUNTRY_ID,CITY_ID
  </sql>
  <select id="selectListByPage" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    FROM WS_VISIT_FUND_INFO
    <where>
      <if test="currency!=null and currency!=''">
        and CURRENCY LIKE concat( concat( '%',#{currency} ),'%' )
      </if>
      <if test="country!=null and country!=''">
        and COUNTRY LIKE concat( concat( '%',#{country} ),'%' )
      </if>
      <if test="continent!=null and continent!=''">
        and CONTINENT LIKE concat( concat( '%',#{continent} ),'%' )
      </if>
    </where>
    order by id
  </select>
  <select id="selectListByPageForm" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    FROM WS_VISIT_FUND_INFO
    <where>
      <if test="currency!=null and currency!=''">
        and CURRENCY LIKE concat( concat( '%',#{currency} ),'%' )
      </if>
      <if test="country!=null and country!=''">
        and COUNTRY LIKE concat( concat( '%',#{country} ),'%' )
      </if>
      <if test="continent!=null and continent!=''">
        and CONTINENT LIKE concat( concat( '%',#{continent} ),'%' )
      </if>
    </where>
    order by id
  </select>

</mapper>