<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spring.mapper.WsWzFireContinueTrueMapper" >
  <resultMap id="BaseResultMap" type="spring.entity.WsWzFireContinueTrue" >
    <constructor >
      <arg column="ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_BY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATE_BY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="MAINFORMID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ORDER_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SEX" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COUNTRY" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="AGE" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="START_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="END_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CREATE_BY, CREATE_DATE,
      UPDATE_BY, UPDATE_DATE, MAINFORMID,
      ORDER_ID, NAME, SEX,
      COUNTRY, AGE, START_DATE,
      END_DATE
  </sql>
  <select id="selectListByPage" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    FROM WS_WZ_FIRE_CONTINUE_TRUE
    <where>
      <if test="mainformid!=null and mainformid!=''">
        MAINFORMID =#{mainformid}
      </if>
    </where>
    order by ID
  </select>
</mapper>